body, html{
    background-color: rgb(214, 214, 214);
    height: 100%;
}
.main{
    width: 80%;
    height: auto;
    padding: 32px;
    background-color: rgb(255, 255, 255);
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.13);
    margin: auto;
}

.btn {
    background-color: rgb(255, 79, 25);
    color: white;
    border-radius: 10px;
    padding: 8px;
    padding-left: 32px;
    padding-right: 32px;
    margin: 4px;
    user-select: none;
}

.btn:active{
    background-color: rgb(179, 52, 13);
    box-shadow: 0 0 8px gray;
}