:root{
    --var-bgcol : rgb(39, 39, 39);
    --var-bgcardcol : rgb(48, 48, 48);
    --var-textcol : white;
    --var-textcol2 : rgb(165, 165, 165);
    --var-textboxbgcol : rgb(255, 255, 255);
    --var-textboxtextcol : rgb(15, 15, 15);
    --var-textboxhintcol : rgb(71, 71, 71);
    
    --var-navbarbgcol : rgb(219, 28, 28);

    --var-controlcol: rgb(43, 43, 43);
    --var-controlcolhover: rgb(66, 66, 66);
    --var-controlcolborder: rgb(63, 63, 63);
    --var-controlcolpressed: rgb(26, 26, 26);

    --var-textpricetagcol : rgb(89, 241, 0);
}

a:link{
    color: aqua;
}

* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: var(--var-bgcol);
    color: var(--var-textcol);
}

h2 {
    padding: 8px;
}

.searchbar{
    background-color: var(--var-textboxbgcol);
    color: var(--var-textboxtextcol);
    border: none;
    padding: 16px;
    margin: 16px;
    border-radius: 32px;
    width: 256px;
    height: auto;
    flex-grow: 1;
    outline: none;
    transition: all .2s;
}


.searchbar:focus::placeholder{
    color: white;
    transition: all .2s;
}

.navbar {
    background-color: var(--var-navbarbgcol);
    padding : none;
    margin: 0;
    display: flex;
    flex-direction: row;
}

.navbutton {
    padding: 24px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 24px;
    user-select: none;
    cursor:pointer;
    text-align: center;
    line-height: 32px;
    text-decoration: none;
    color: var(--var-textcol);
}

.navbutton:hover {
    padding-bottom: 20px;
    border-bottom: 4px solid white;
}
.banner{
    width: 100%;
    height: 30%;
    margin: 0;  
    background-position: center;
    background-size: cover;
    background-image: url(./banner.jpg);
}

.card {
    margin: 16px;
    background-color: var(--var-bgcardcol);
    padding : 16px;
    box-shadow: 2px 2px 8px rgb(32, 32, 32);
}

.homepage-grid{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.homepage-grid .item{
    width: 30%;
    text-decoration: none;
    color : var(--var-textcol);
    max-width: 120px;
    height: 160px;
    background-color: var(--var-controlcol);
    transition: all .2s;
    margin: 4px;
    box-shadow: 0 2px 8px rgb(22, 22, 22);
    /* border: 2px solid var(--var-bgcol); */
    cursor: pointer;
    /* outline: 1px solid var(--var-controlcolborder); */
}

@media screen and (max-width:500px){
    .searchbar{
        display: none;
    }
    .navbar{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-items: center;
    }
    .banner{
        width: 100%;
        height: 90px;
    }
}
.homepage-grid .item:hover{
    background-color: var(--var-controlcolhover);
}
.homepage-grid .item:active{
    background-color: var(--var-controlcolpressed);
}
.homepage-grid .item img{
    width: 64px;
    height: auto;
    position: relative;
    left: calc(50% - 32px);
    top: 16px;
    user-select: none;
    -webkit-user-drag: none;
    image-rendering: pixelated;
}
.homepage-grid .item h1{
    font-size: small;
    position: relative;
    text-align: center;
    top: 16px;
    user-select: none;
}
.homepage-grid .item h2{
    font-size: smaller;
    position: relative;
    text-align: left;
    top: 16px;

    color: var(--var-textcol2);
    user-select: none;
}
.homepage-grid .item h3{
    font-size: smaller;
    position: relative;
    text-align: end;
    top: -24px;
    left: -16px;
    text-transform: uppercase;
    color: var(--var-textpricetagcol);
    user-select: none;
}

/* Download buttons */
.downloadbtn {
    margin: 16px;
    background-color: rgb(20, 204, 45);
    display: block;
    color: var(--var-textcol);
    text-decoration: none;
    height: 48px;
    line-height: 44px;
    padding: 2px;
    text-align: center;
    border-radius: 4px;
    transition: background-color .1s;
}


.downloadbtn::after{
    content:'';
    background:url('http://mcpedl.com/wp-content/uploads/2014/04/dllogonew.png'); /* with class ModalCarrot ??*/
    height: 48px;
    width: 48px;
    background-size: 48px 60px;
    position: relative;
    top: -48px;
    display:block;
    margin: 4px;
    overflow:hidden;
  }
.downloadbtn:hover{
    background-color: rgb(31, 248, 60);
}
.downloadbtn:active{
    background-color: rgb(11, 138, 28);
}
/* For itch io red */
.downloadbtnItch::after{
  content:'';
  background:url('https://static.itch.io/images/itchio-textless-white.svg'); /* with class ModalCarrot ??*/
  height: 48px;
  width: 48px;
  background-size: 48px 48px;
  position: relative;
  top: -48px;
  display:block;
  margin: 4px;
}
.downloadbtnItch {
    margin: 16px;
    background-color: rgb(204, 20, 20);
    display: block;
    text-decoration: none;
    height: 48px;
    line-height: 44px;
    padding: 2px;
    text-align: center;
    border-radius: 4px;
    transition: background-color .1s;
}

.downloadbtnItch:hover{
    background-color: rgb(255, 62, 62);
}
.downloadbtnItch:active{
    background-color: rgb(138, 11, 11);
}

/* Regular Download Button */
.downloadBtnReg {
    margin: 16px;
    background-color: rgb(20, 204, 173);
    display: block;
    text-decoration: none;
    height: 48px;
    line-height: 44px;
    padding: 2px;
    text-align: center;
    border-radius: 4px;
    transition: background-color .1s;
}

.downloadBtnReg:hover{
    background-color: rgb(62, 255, 245);
}
.downloadBtnReg:active{
    background-color: rgb(11, 119, 138);
}
