* {
    font-family: 'Baloo Tammudu 2', cursive;
    color: rgb(233, 233, 233);
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Staatliches', cursive;
}
h1 {
    color:rgb(255, 255, 255);
    font-size: 48px;
    z-index: 999;
}

h2 {
    color:rgb(190, 190, 190);
    padding: 8px;
    margin: 0;
}

a {
    padding: 8px;
}

body, html {
    width: 100%;
    height: 100%;
    background-color: rgb(36, 7, 7);
    margin: 0;
}

.content {
    display : flex;
    flex-direction: column;
}

.page-header {
    background-image: url(/images/Screenshot_100.png);
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 96px;
}

.page-header::before{
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 224px;
    object-fit: cover;
    background-image: linear-gradient(45deg, #fa1515, #790505);
    opacity: 50%;
}

.page-content {
    border-radius: 4px;
    margin: auto;
    width: 80%;
    padding: 32px;
    box-shadow: 0px 2px 8px gray;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.37);
    transform: translateY(-128px);
    background-color: rgb(20, 19, 19);
    /* height:max-content; */
    min-height: 400px;
    justify-content: center;
    align-items: center;
}

.page-content .post {
    width: 200px;
    height: 164px;
    position: relative;
    margin: 8px;
    background-color: black;
    transition:all .2s;
    /* border-radius: 4px; */
    border: 1px solid rgb(61, 61, 61);
}
.page-content .post img{
    width: 200px;
    height: 164px;
    margin: auto;
    object-fit: cover;
    transition: opacity .2s;
    user-select: none;
    -webkit-user-drag: none;
}

.page-content .post:hover{
    border-left: 4px solid red;
    border-top: 4px solid red;
}
.page-content .post:hover::before{
    border-right: 2px solid aqua;
    border-bottom: 2px solid aqua;
    box-shadow: 0px 0px 18px rgba(255, 255, 255, 0.15);
    content: " ";
    position: absolute;
    width: 100%;
    height: 100%;
    /* background-color: green; */
}
.page-content .post:hover>img{
    opacity: 10%;
}
.page-content .post:hover>h4, .page-content .post:hover> p{
    opacity: 100%;
}

.page-content .post h4 {
    position: absolute;
    left: 0; top: 0;
    padding: 4px;
    margin: 4px;
    opacity: 0;
}
.page-content .post p {
    position: absolute;
    left: 0; top: 32px;
    padding: 4px;
    margin: 4px;
    opacity: 0;
    user-select: none;
    line-height: 16px;
}

.youtube {
    background-color:rgb(19, 18, 18);
    padding: 16px;
    margin: 0;
    border-radius: 32px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.youtube img {
    width: 64px;
    border-radius: 50%;
}

.youtube .btn {
    background-color: red;
    text-align: center;
    margin: 8px;
    font-family: 'Courier New', Courier, monospace;
    padding: 4px 30px;  
    text-transform: uppercase;
    font-weight: bolder;
    display: inline-block;
    line-height: 48px;
    vertical-align: middle;
    margin: 4px;
    border-radius: 4px;
    cursor: pointer;
    position: relative;
}


.youtube .btn:hover{
    background-color: rgb(255, 38, 38);
}

#renders > img {
    max-width: 512px;
    transition: opacity .3s;
}
#renders > img:hover {
    opacity: 50%;
}